body {
    margin: auto;
    padding: 0;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 100%);
    font-size: 12px;
}
.c1
{
    text-align: center;
    margin-top: 9%;
    color: whitesmoke;
    display: flex;
    padding-left: 25%;
    height: 100%;
    width: 50%;
    
   
}
.c2
{
    text-align: center;
    font-size: 72px;
    font-family: 'Courier New', Courier, monospace;
}
.titlePage
{
    color: azure;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 45%;
    padding-top: 5%;

}
.d1 
{
    text-align: center;
    margin-bottom: 20%;
    color: aliceblue;
    padding-top: 3%;
}

/* make change in the Break Point for Mobile Phine */

@media only screen and (min-width: 320px) and (max-width:480px) {
    /* Your CSS styles for mobile and tablet devices */
    .titlePage {
      padding-left: 35%; /* Example style change for mobile and tablet devices */
    }
    .c2 {
      font-size: 20px; /* Example style change for mobile and tablet devices */
    }
    .d2 {
      font-size: 20px; /* Example style change for mobile and tablet devices */
    }
}

@media only screen and(min-width: 481px) and (max-height: 768px) 
{   
    .titlePage {
        padding-left: 50%;
    }
    .c2
    {
        padding-left: 20%;
        font-size: 20%;
        color: antiquewhite;
    }
    .c2 {
        font-size: 20%;
        text-align: center;

    }
}